<form>
  <main>
    <app-search
      (searchClick)="search($event)"
      [showNotification]="showNotification"
    ></app-search>
    <div *ngIf='recipes$ | async as recipes' data-cy="recipes">
      <mat-card *ngFor="let recipe of recipes; let i=index">
        <div class="recipe-content flex">
          <span class="thumnail"
            ><img style="height: 80px; width: 107px" [src]="recipe.thumbnail"
          /></span>

          <span class="stretch">
            <div>
              <h2 attr.data-cy="title-{{i}}">{{ recipe.title }}</h2>
            </div>
            {{ recipe.ingredients }}
            <a
              href="{{ recipe.href }}"
              target="_blank"
              rel="noopener noreferrer"
              >Details</a
            ></span
          >

          <button mat-icon-button>
            <mat-icon
              [ngClass]="recipe.isFavorite ? 'heart' : 'heart_outline'"
              aria-label="Like"
              (click)="toggleFavoriteFood(recipe)"
              >favorite</mat-icon
            >
          </button>
        </div>
      </mat-card>
    </div>
  </main>
</form>
