


main {
  padding: 10px;

  [mat-icon-button] {
    margin-left: 5px;
  }
}

.reload-button {
  position: absolute;
  top: 11px;
  z-index: -2;
  margin-bottom: 10px;
}

.recipe-content {
  align-items: center;
}

button .flex-row mat-icon {
  margin-right: 5px;
}

.thumnail {
  border-radius: 50%;
  padding: 5px;
  color: #424242;
  margin-right: 15px;
}

.heart {
  color: #f44336;
}

mat-card + mat-card {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
